<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.flower.dao.FlowerPictureMapper">
    <insert id="addFlowerPicture">
        insert into flower_picture(flower_id,img_url) values(#{flowerId},#{imgUrl})
    </insert>


<!--   根据 鲜花编号 来查询对应的编号信息-->
    <select id="getFlowerPictureListByFlowerId" resultType="flowerPictureEntity">
        select picture_id,flower_id,img_url from flower_picture
        where flower_id = #{flowerId}
    </select>
</mapper>